{
    "env": {
        "browser": true,
        "node": true,
        "es2022": true,
        "jest": true
      },
    "parser": "@typescript-eslint/parser",
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "plugins": ["react", "jest", "import", "testing-library", "@typescript-eslint"],
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "no-undef": "off" //prevent errors from types
    },
    "ignorePatterns": ["*.config.js", "docs/**/*"]
}
