.ratio-demo {
    .ratio-grades {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        dt {
            flex: 0 0 7rem;
        }

        dd {
            flex: 1 1 calc(100% - 7.5rem);
            font-weight: 700;
            margin-left: 0.5rem;
            padding: 0.25rem 0;

            span {
                display: inline-block;
                border-radius: 0.375rem;
                padding: 0.25rem;
                color: #1a1a1a;
                text-transform: uppercase;

                &.pass {
                    background-color: var(--pass-bg-color);
                }

                &.fail {
                    background-color: var(--fail-bg-color);
                }
            }
        }
    }
}
