@import 'protean-styles/styles/mixins';

.contrast-checker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    --protean-input-margin: 0.25rem;
    --protean-checkbox-margin: 1rem 0.25rem;

    > div {
        flex-basis: 33.333%;

        @include breakpoint(m) {
            flex-basis: 10rem;

            &.field-container {
                flex: 1 0 calc(100% - 10rem);
            }
        }

        @include breakpoint(s) {
            flex-basis: 100%;
        }
    }

    protean-input[type='color-code'] {
        flex: 1 1;
    }

    .contrast-value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint(m) {
            @include breakpoint(s, min) {
                align-items: flex-start;
                padding-left: 1rem;

                protean-button {
                    margin-left: 2rem;
                }
            }
        }

        @include breakpoint(s) {
            margin: 0.5rem 0 0;
        }

        h2 {
            margin: 0;
        }

        sup {
            font-size: 0.625em;
            position: relative;
            right: 0.5rem;
            top: 0.1875rem;
        }
    }

    .color-values {
        display: flex;
        font-size: 0.75rem;
        font-weight: 500;

        > div {
            margin: 0 0.125rem;
        }
    }

    .swap-colors {
        transition: transform 0.4s ease-in-out;
        @include breakpoint(m) {
            transform: rotate(-90deg);
        }
    }

    .sample-text {
        margin: 1rem 0.25rem;

        @include breakpoint(s) {
            margin: 0 0.25rem;
        }
    }

    .radio-list {
        @include breakpoint(m) {
            @include breakpoint(s, min) {
                --protean-checkbox-margin: 0.5rem 1rem 1rem;
            }
        }
    }

    .sample-container {
        @include breakpoint(m) {
            flex: 1 1;
        }

        @include breakpoint(s) {
            flex: 1 1 100%;
        }
    }

    .copy-container {
        display: flex;
        justify-content: flex-end;
        position: relative;

        @include breakpoint(m) {
            flex: 0 0;
            margin-left: 0.75rem;
        }

        @include breakpoint(s) {
            margin: 1rem 0;
            flex-basis: 100%;
            justify-content: center;
        }
    }

    .copy-button {
        white-space: nowrap;

        protean-icon {
            margin-left: 0.25rem;
        }
    }

    .copy-confirmation {
        position: absolute;
        top: calc(100% + 0.5rem);
        right: 1rem;
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-weight: 600;
        background-color: var(--code-background-color);
    }
}
