@import 'protean-styles/styles/app';
@import '../../styles/index';

.app {
    @include breakpoint(m) {
        padding: 0;
    }

    .header-content {
        display: flex;
        margin: 0 1rem;
        align-items: center;

        h1 {
            flex: 1 0;
        }

        protean-checkbox {
            --protean-checkbox-margin: 1rem 0 1rem 0.5rem;
            flex: 0 1 9rem;
        }
    }
}
