.sample-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    min-height: 4.5rem;
    border-radius: 0.375rem;
}
